
<div id="pop">
<section id="about-us">
    <h1><u>About Us</u></h1>
    <p>We are a leading e-commerce company providing a wide range of products to customers around the world. Our mission is to make shopping convenient and easy for everyone, offering a seamless online shopping experience. We are dedicated to providing the highest quality products and customer service. </p>
    <p>Our team of experts works tirelessly to source the best products from around the world and bring them to you at unbeatable prices. Whether you're looking for the latest gadgets, fashion items, or household essentials, we have everything you need and more. </p>
    <p>We believe that shopping should be enjoyable and stress-free, which is why we go above and beyond to make sure our customers are completely satisfied. So, whether you're shopping for yourself, a loved one, or your business, we've got you covered. </p>
  </section>
  <section id="history">
    <h2><u>History</u></h2>    
    <p class="lop">This Website was Found on <strong><b>January 31, 2023</b></strong></p>
    <h2><u>Mission</u></h2>
    <p>We are maximisers. We're out on our own journeys <b>to maximise - be the best at what we choose and care about the most - whether it be our impact, voice, potential, ideas, influence, well-being or more.</b></p>
  </section>
  <h2 style="text-align:center"><u>Our Team</u></h2>
<div class="row">
  <div class="column">
    <div class="card">
     
      <div class="container">
        <h2>Karri Vinodh</h2>
        <p class="title">Developer</p>
        <p>Intern at Cognizant</p>
        <p>vinodh@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
     
      <div class="container">
        <h2>Parth Yelne</h2>
        <p class="title">Developer</p>
        <p>Intern at Cognizant</p>
        <p>parth@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  

  <div class="column">
    <div class="card">
     
      <div class="container">
        <h2>Kushal Pendse</h2>
        <p class="title">Developer</p>
        <p>Intern at Cognizant</p>
        <p>kushal@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      
      <div class="container">
        <h2>Sisindri Billu</h2>
        <p class="title">Developer</p>
        <p>Intern at Cognizant</p>
        <p>billu@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      
      <div class="container">
        <h2>Sahil Kakani</h2>
        <p class="title">Developer</p>
        <p>Intern at Cognizant</p>
        <p>sahil@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
    
      <div class="container">
        <h2>Bhavik Bhatt</h2>
        <p class="title">Developer</p>
        <p>Intern at Cognizant</p>
        <p>bhavik@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

</div>