div{
    text-align: center;
}
.form-control{
    width: auto;
   margin: auto;
}
form{
    background-color: skyblue;
    width: 500px;
    margin-left: 550px;
}

.form-control{
    width: 300px;
    
}