  
<div>
<h1 class="m-2">Hello Vendor</h1>

<table class="table" [cellPadding]="50" [cellSpacing]="500">
 
      <tr >
        <th scope="col">Product ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Offer ID</th>
        <th scope="col">Offer Name</th>
        <th scope="col">Rating</th>
        <th scope="col">Remaining Quantity</th>
      </tr>
   
    <tbody>		
      <tr>
        <th scope="row">24</th>
        <td>Jack&Jones T-Shirt</td>
        <td>4</td>
        <td>Crazy Shopping Sale</td>
        <td>3.5</td>
        <td>80</td>
      </tr>
      <tr>
        <th scope="row">30</th>
        <td>Designer T-Shirt</td>
        <td>5</td>
        <td>Holi Sale</td>
        <td>4.5</td>
        <td>50</td>
      </tr>
      <tr>
      <th scope="row">34</th>
        <td>Killer Jeans</td>
        <td>2</td>
        <td>Christmas Sale</td>
        <td>4.3</td>
        <td>30</td>
      </tr>
      <tr>
        <th scope="row">56</th>
        <td>Women Trousers</td>
        <td>2</td>
        <td>Christmas Sale</td>
        <td>4.0</td>
        <td>100</td>
      </tr>
      <tr>
        <th scope="row">71</th>
        <td>Air Jordan Shoes</td>
        <td>2</td>
        <td>Christmas Sale</td>
        <td>4.4</td>
        <td>10</td>
      </tr>                         
      <tr>
        <th scope="row">80</th>
        <td>Iykyk Shoes</td>
        <td>3</td>
        <td>August Special</td>
        <td>3.9</td>
        <td>70</td>
      </tr>  

      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr> 
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr> 
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>  
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr> 
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr> 
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr> 
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr> 
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr> 
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr> 
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr> 
     
     
    </tbody>
  </table>
</div>
